openapi: 3.0.3
info:
  title: FAF Coffees EUDR API
  description: API de preparação, auditoria geoespacial MapBiomas/GFW e gestão de contratos EUDR (Regulamento UE 2023/1115).
  version: 0.2.1
  contact:
    name: FAF Coffees Suporte Técnico
    url: https://fafeu.online

servers:
  - url: https://fafeu.online
    description: Servidor de Produção Cloudflare Workers

paths:
  /api/auth/login:
    post:
      summary: Autenticação de usuário com sessão segura HMAC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: admin
                password:
                  type: string
                  example: "••••••••"
      responses:
        '200':
          description: Login bem-sucedido com cookie de sessão HttpOnly
        '401':
          description: Credenciais inválidas

  /api/auth/me:
    get:
      summary: Retorna a sessão ativa do usuário autenticado
      responses:
        '200':
          description: Dados do usuário logado

  /api/auth/logout:
    post:
      summary: Encerra a sessão e expira o cookie de autenticação
      responses:
        '200':
          description: Sessão encerrada com sucesso

  /api/mapbiomas/check:
    post:
      summary: Consulta a série temporal de desmatamento no MapBiomas com cache por hash de geometria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [geometry, municipality, state]
              properties:
                geometry:
                  type: object
                municipality:
                  type: string
                state:
                  type: string
      responses:
        '200':
          description: Resultado da auditoria temporal pós-2020

  /api/r2/publish:
    post:
      summary: Publica geometria e metadados de talhão diretamente no bucket Cloudflare R2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [region, plotCode, geoJson]
              properties:
                region:
                  type: string
                plotCode:
                  type: string
                geoJson:
                  type: string
                metadata:
                  type: object
      responses:
        '200':
          description: Arquivo publicado com sucesso no R2

  /api/locations/municipalities:
    get:
      summary: Lista municípios brasileiros com códigos e regiões do IBGE
      responses:
        '200':
          description: Lista de municípios
